.heroupsingle{
    height: 700px;
    position: relative;
    @media (max-width: 768px) { 
        height: 30vh;
        }
    .hero{
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        filter: grayscale(10);
    }
    #infosarticle{
        position: absolute;
        width: 45%;
        top: 35%;
        left: 20%;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        height: auto;
        
        @media (max-width: 992px) { 
            width: 90%;
            left: 5%;
        }
       

        
        .date{
            width: 12%;
            
            @media (max-width: 768px) { 
            width: 20%;
            }
            #dm{
                display: flex;
                flex-direction: column;
                
                #time{
                    font-family: 'Anek Tamil';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 23px;
                    text-align: center;
                    color: #FFFFFF;
                    background-color: $prim !important;
                    padding: 10%;
                }
                #month{
                    font-family: 'Anek Tamil';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 23px;
                    text-align: center;
                    color: #FFFFFF; 
                    background-color: $prim !important;
                    padding: 10%;
                }
                #year{
                    background-color: $sectext;
                    font-family: 'Anek Tamil';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 23px;
                    text-align: center;
                    color: #FFFFFF; 
                    padding: 20%;
                    
                }
            }
            
        }
        #infoarticlebis{
            h1{
               
            @media (max-width: 768px) { 
            margin-left: 5%;
            margin-top: 0;
            }
                a{
                    font-family: 'Jost';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 2em; 
                    line-height: 69px;
                    text-align: center;
                    color: #FFFFFF;
                    text-decoration: none;
                     @media (max-width: 768px) { 
                     font-size: 1em;
                     }
                }
            } 
            
            
        }
        
        
    }
    
}

#single{
    margin-top:2%;
    .container{
        @include container;
        display: flex;
        justify-content: space-between;
        @media (max-width: 768px) { 
            flex-direction: column;
        }
    } 
    
    #medcont{
        width: 50%;
        @media (max-width: 768px) { 
            width: 100% !important;
        }
        @media (max-width: 992px) { 
        width: 60%;
        }
        article{
            p{
                @include p;
            }
        }
    }
    
    #sidecont{
        width: 25%;
        font-family: 'Jost';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        text-align: justify;
        color: #00171F;

        @media (max-width: 768px) { 
            width: 100% !important;
        }
        
        @media (max-width: 992px) { 
        width: 30%;
        }
        
    }
}
