#actus,#blog{
    .container{
        @include container;
        #allarticles{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            @media (max-width: 768px) { 
                flex-direction: column;
            }
            
            article{
                background-color: white;
                width: 31%;
                min-height: 500px;
                margin-bottom: 2%;
                box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                
                @media (max-width: 768px) { 
                    width: 100%;
                }
                
                
                
                .imgarticle{
                    
                    img{
                        width: 100%;
                        height: auto; 
                        min-height: 220px;
                        object-fit: cover;
                        
                    }
                }
                .textearticle{
                    width: 80%;
                    margin: auto;
                    .date{
                        font-family: 'Jost';
                        text-transform: uppercase;
                        font-weight: 300;
                        font-size: 16px;
                        line-height: 23px;
                        color: $primtext;
                        
                        &:before{
                            content: "\f017";
                            font-family: FontAwesome;
                            color: $prim;
                        }
                    }
                    h3{
                        a{
                            font-family: 'Jost';
                            text-transform: uppercase;
                            font-weight: 400;
                            font-size: 1em;
                            line-height: 26px;
                            color: $sectext;
                            text-decoration: none;
                        }
                    }
                    p{
                        @include p;
                        a{
                            font-family: 'Jost';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 20px;
                            color: $prim;  
                            text-decoration: none;
                        }
                    }
                    hr{
                        border: 1px solid #EFEFEF;
                        
                    }
                    .allinfos{
                        display: flex;
                        justify-content: space-between;
                        align-items: baseline;
                        width: 100%;
                        
                        
                        .aut{
                            font-family: 'Jost';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 12px;
                            line-height: 17px;
                            color: $sectext;
                            &:before{
                                content: "\f2c0";
                                font-family: FontAwesome;
                                color: $prim;  
                                padding-right:1vw;
                            }
                        }
                        
                        .cat{
                            ul{
                                padding-left: 0px;
                                list-style: none;
                                li{
                                    a{
                                        font-family: 'Jost';
                                        font-style: normal;
                                        font-weight: 400;
                                        font-size: 12px;
                                        line-height: 17px;
                                        text-decoration: none;
                                        color: $sectext;
                                        &:before{
                                            content: "\f114";
                                            font-family: FontAwesome;
                                            color: $prim;  
                                            padding-right:1vw;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}






