  #compteur{
    background-color: $prim;
    padding-top: 1vh;
    padding-bottom: 1vh;
    .containerbis{
        width: 80%;
        margin: auto;
        
       @media (min-width: 320px) { 
            width: 80%;   
            padding-top: 1vh;
            padding-bottom: 1vh;
        }
        
        @media (min-width: 992px) { 
            width: 70%;
        }
        
        @media (min-width: 1200px) { 
        width: 80%;
        }
        
        h2{
            font-family: 'Jost';
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            font-weight: 600;
            line-height: 35px;
            color: white;
            display: flex;    
            justify-content: space-between;
            padding-left: 3%;
            border-left: 5px $sectext solid;
        }
        
        #groupecompteur{
            display: flex;
            justify-content: space-between;
           @media (min-width: 320px) { 
            flex-wrap: wrap;
            }

            @media (min-width: 1200px) { 
            flex-direction: row;
            }
            .nomit{
                display: flex;
                flex-direction: column;
               @media (min-width: 320px) { 
                width: 50%;
                align-items: center;
                }

                @media (min-width: 1200px) { 
                width: 20%;
                }
                .count{
                    font-family: 'Jost';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 64px;
                    line-height: 92px;
                    color: white;
                    margin-top:5%;
                    margin-bottom: 5%;
                }
                
                .item{
                    font-family: 'Jost';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 29px;
                    color: #FFFFFF;
                    margin-bottom: 5%;
                }
            }
            
        }
        
        
    }
}



