  #compteur{
    background-color: $prim;
    padding-top: 1vh;
    padding-bottom: 1vh;
    .containerbis{
       @include container;
        margin: auto;
       
        
        h2{
            font-family: 'Jost';
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            font-weight: 600;
            line-height: 35px;
            color: white;
            display: flex;    
            justify-content: space-between;
            padding-left: 3%;
            border-left: 5px $sectext solid;
        }
        
        #groupecompteur{
            display: flex;
            justify-content: space-between;
            @media (max-width: 992px) { 
                flex-wrap: wrap;
            }
            
            .nomit{
                display: flex;
                flex-direction: column;
                width: 20%;

                @media (max-width: 768px) { 
                    width: 50%;
                    align-items: center;
                }
              
                .count{
                    font-family: 'Jost';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 64px;
                    line-height: 92px;
                    color: white;
                    margin-top:5%;
                    margin-bottom: 5%;
                }
                
                .item{
                    font-family: 'Jost';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 29px;
                    color: #FFFFFF;
                    margin-bottom: 5%;
                }
            }
            
        }
        
        
    }
}



