#equipe{
    
    h2{
        @include h2;
    }
    
    hr{
        padding-top: 10vh;
        border-top: 0px;
    }
    
    
    
    .container{
        width: 40%;
        margin: auto;
        @media only screen and (max-width: 992px){
            width: 80%;   
        }
        @media only screen and (min-device-width : 992px) and (max-device-width : 1600px){
            width: 70%;
        } 
        
        
        #fem, #masc, #loisir{
            margin-top: 5vh;

            .st-vertical{
                @media (min-width: 320px) { 
                flex-direction: column;
                }

                @media (min-width: 992px) { 
                flex-direction: row;
                }
            }
            .nav-link{
                text-decoration: none;
                text-transform: uppercase;
                font-family: 'Anek Tamil', sans-serif;
                font-size: 18px;
                color: $prim;
            }
            
            .tab-pane{
                .phototab{
                    width: 100%;
                    height: 50%;
                    img{
                        width: 100%;
                        height: auto;
                    }
                }
                
                .entraineur{
                    @include p;
                }
                
                .liencalendrier{
                    font-family: 'Anek Tamil', sans-serif;
                    font-style: normal;
                    color: $prim;
                }
            }
            
            
        }
        
        #loisir{
            margin-bottom: 5vh;
        }
        
        
    }
}