#menpol{
    .container{
        width: 80%;
        margin: auto;
        
        h2{
            @include h2;
        }
        
        p{
            font-family: 'Jost';
            font-style: normal;
            font-weight: 400;
            font-size: 1.2em;
            line-height: 30px;
            text-align: justify;
            color: #00171F;
        }
    }
}