
#sidecont{
    h2{
        @include h2;
        
    }
    
    #colart{
       
        article{
            display: flex;
            margin-bottom: 2vh;
           @media (min-width: 320px) { 
            width: 100%;
            }
           
            
            .sideinfos{
                width: 60%;
                margin: auto;
                margin-top: 0px;
               @media (min-width: 320px) { 
                width: 70%;
                margin-left: 3vw;
                }
                
                
                h3{
                    margin-top: 0;
                    a{
                        font-family: 'Jost';
                        font-style: normal;
                        font-weight: 400 !important;
                        font-size: 18px;
                        line-height: 26px;
                        color: $sectext;
                        text-decoration: none;
                    }
                }
                
            }
        }
    }
    
    
}
